.wrapper {
  width: 100%;
  min-height: 76vh;
  display: grid;
  grid-template:
    "playlists liked" auto
    "playlists genres" auto
    "recommended recommended" auto
    "user-radio user-radio" auto /
    1fr 1fr;
  gap: 16px;
  align-content: flex-start;
}

.playlists {
  grid-area: playlists;
  height: 300px;
}

.liked {
  grid-area: liked;
}

.genres {
  grid-area: genres;
}

.recommended {
  grid-area: recommended;
  height: 100px;
}

.user-radio {
  grid-area: user-radio;
  height: 80px;
}

.opened-tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  &__back-button {
    color: var(--font-primary-color);
    font-size: 0;
    height: 40px;
    width: 32px;
  }
}
