.global-wrapper {
  max-width: 1440px;
  margin: auto;
  overflow-x: hidden;
  position: relative;

}

.content-wrapper {
  background-color: var(--background-primary-color);
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 16px;
}
