:root {
  --max-content-width: 1400px;
  --font-family-base: sans-serif;
  --font-size-base: 1.4rem;
  --font-primary-color: #fff;
  --background-primary-color: #212121;
  --primary-red-color: #ef2d56;
  --secondary-red-color: rgb(239 45 86 / 70%);
  --primary-orange-color: #ed7d3a;
  --seconady-orange-color: rgb(237 125 58 / 70%);
  --primary-light-green-color: #8cd867;
  --secondary-light-green-color: rgb(140 216 103 / 70%);
  --primary-green-color: #2fbf71;
  --secondary-green-color: rgb(47 191 113 / 70%);
  --font-heading-size: 2.4rem;
}
