.global-wrapper {
  width: 20%;

  &--expanded {
    width: 100%;
  }
}

.range-wrapper {
  display: none;
  width: 100%;

  @include md {
    display: flex;
  }

  &--expanded {
    display: flex;
    justify-content: center;
  }
}

.range {
  width: 100%;
}
